# build output
dist/
# generated types
.astro/

# agentic development artifact
.agents/
.opencode/
_bmad*

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
compose.prod.override.yaml
